enabled=B"true"
name="System Health"
targetPattern="^/system/health(/.*)?\\..*(\\?.*)?$"
targetUrl="http\://localhost\:\${http.port}\${ctx}\${0}"
tags.to.rename=[ \
      "html\:div" \
]
tags.to.strip=[ \
      "body" \
]
tags.to.drop=[ \
      "head", \
      "style", \
      "script", \
      "link" \
]
XSLT.chain.paths=[]
referencePath="composum/nodes/system/status"
