sling.servlet.resourceTypes="composum/nodes/system/tools/sling/requests"
forward.servlet.serviceType=""
forward.servlet.serviceFilter="(felix.webconsole.label\=requests)"
forward.servlet.permission="system/sling/requests"
webconsole.plugin=B"true"
webconsole.plugin.title="Sling Recent Requests"
webconsole.app.path="/system/console/requests"
content.filter.on=B"false"
content.translation.on=B"false"
