sling.servlet.resourceTypes="composum/nodes/system/tools/sling/adapters"
forward.servlet.serviceType=""
forward.servlet.serviceFilter="(felix.webconsole.label\=adapters)"
forward.servlet.permission="system/sling/adapters"
webconsole.plugin=B"true"
webconsole.plugin.title="Sling Adapters"
webconsole.app.path="/system/console/adapters"
content.filter.on=B"false"
content.translation.on=B"true"
