sling.servlet.resourceTypes="composum/nodes/console/tools/cpm/servicegraph"
forward.servlet.serviceType=""
forward.servlet.serviceFilter="(felix.webconsole.label\=servicegraph)"
webconsole.plugin=B"true"
webconsole.plugin.title="Service Graph"
webconsole.app.path=""
content.filter.on=B"false"
content.translation.on=B"false"
