sling.servlet.resourceTypes="composum/nodes/system/tools/sling/servlets"
forward.servlet.serviceType=""
forward.servlet.serviceFilter="(felix.webconsole.label\=servletresolver)"
webconsole.plugin=B"true"
webconsole.plugin.title="Sling Servlet Resolver"
webconsole.app.path="/system/console/servletresolver"
content.filter.on=B"false"
content.translation.on=B"false"
