sling.servlet.resourceTypes="composum/nodes/system/tools/sling/resolver"
forward.servlet.serviceType=""
forward.servlet.serviceFilter="(felix.webconsole.label\=jcrresolver)"
forward.servlet.permission="system/sling/resolver"
webconsole.plugin=B"true"
webconsole.plugin.title="Sling Resource Resolver"
webconsole.app.path="/system/console/jcrresolver"
content.filter.on=B"false"
content.translation.on=B"false"
