sling.servlet.resourceTypes="composum/nodes/system/tools/sling/jobs"
forward.servlet.serviceType=""
forward.servlet.serviceFilter="(felix.webconsole.label\=slingevent)"
webconsole.plugin=B"true"
webconsole.plugin.title="Sling Jobs / Events"
webconsole.app.path="/system/console/slingevent"
content.filter.on=B"false"
content.translation.on=B"false"
