sling.servlet.resourceTypes="composum/nodes/console/tools/cpm/clientlibs"
forward.servlet.serviceType=""
forward.servlet.serviceFilter="(felix.webconsole.label\=clientlibs)"
forward.servlet.permission="system/cpm/clientlibs"
webconsole.plugin=B"true"
webconsole.plugin.title="Composum Client Libraries"
webconsole.app.path=""
content.filter.on=B"true"
content.translation.on=B"false"
