# filesystem
.crossref-*
.local-*
local-*
# IntelliJ
.idea
*.iml
# Eclipse
.project
.classpath
.settings
.metadata
Servers
# Gradle
.gradle
build
# Maven
target
# Groovy
.groovy
# some source repos
.svn
# File Vault
.vlt
.vlt-sync*
# Mac OS X
._*
.DS_*
